<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsd.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- android:theme="@android:style/Theme.Light.NoTitleBar" -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 监听去电的权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- android:targetPackage="com.dsd.mobilesafe" 一定要指定为应用程序的包 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.dsd.mobilesafe" />

    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 开任务栈时需要权限的 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity android:name=".activity.TestActivity" >
        </activity>
        <activity
            android:name=".activity.SetupOverActivity"
            android:label="@string/title_activity_setup_over" >
        </activity>
        <activity
            android:name=".activity.Setup1Activity"
            android:label="@string/title_activity_setuping" >
        </activity>
        <activity
            android:name=".activity.Setup2Activity"
            android:label="@string/title_activity_setup2" >
        </activity>
        <activity
            android:name=".activity.Setup3Activity"
            android:label="@string/title_activity_setup3" >
        </activity>
        <activity
            android:name=".activity.Setup4Activity"
            android:label="@string/title_activity_setup4" >
        </activity>
        <activity
            android:name=".activity.ContactListActivity"
            android:label="@string/title_activity_contact_list" >
        </activity>
        <activity
            android:name=".activity.BaseSetupActivity"
            android:label="@string/title_activity_base_setup" >
        </activity>
        <activity
            android:name=".activity.MobileSafeActivity"
            android:label="@string/title_activity_mobile_safe" >
        </activity>

        <receiver android:name=".receiver.BootReceiver" >
            <intent-filter>

                <!-- 开机发送的广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SmsReceiver" >
            <intent-filter>

                <!-- 短信拦截 -->
                <!-- 高版本的平台会找不到android.provider.Telephony.SMS_RECEIVED这个过滤器，需要手动写。需要修改短信发送的广播 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.AToolActivity"
            android:label="@string/title_activity_set_content" >
        </activity>
        <activity
            android:name=".activity.QueryAddressActivity"
            android:label="@string/title_activity_query_address" >
        </activity>

        <service android:name=".service.AddressService" >
        </service>

        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar 设置透明的主题 -->
        <activity
            android:name=".activity.ToastLocationActivity"
            android:label="@string/title_activity_toast_location"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.BlackNumberActivity"
            android:label="@string/title_activity_black_number" >
        </activity>

        <service android:name=".service.BlackNumberService" >
        </service>

        <activity
            android:name=".activity.AppManagerActivity"
            android:label="@string/title_activity_app_manager" >
        </activity>
        <activity
            android:name=".activity.ProcessManagerActivity"
            android:label="@string/title_activity_process_manager" >
        </activity>
        <activity
            android:name=".activity.ProcessSettingActivity"
            android:label="@string/title_activity_process_setting" >
        </activity>

        <service android:name=".receiver.LockScreenService" >
        </service>

        <activity
            android:name=".activity.CommonNumberQueryActivity"
            android:label="@string/title_activity_common_number_query" >
        </activity>

        <receiver android:name=".receiver.MyAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/process_widget_provider" />
        </receiver>

        <service android:name=".service.UpdateWidgetService" >
        </service>

        <receiver android:name=".receiver.KillBackgroundProcess" >
            <intent-filter>
                <action android:name="android.intent.action.KILL_BACKGROUND_PROCESS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.AppLockActivity"
            android:label="@string/title_activity_app_lock" >
        </activity>

        <service android:name=".service.WatchDogService" >
        </service>

        <activity
            android:name=".activity.EnterPsdActivityActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_enter_psd_activity"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".AntiVirusActivity"
            android:label="@string/title_activity_anti_virus" >
        </activity>
    </application>

</manifest>